.app {
    height: 100vh;
    margin: auto;
}
.main-container {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.components {
    width: 90%;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.rounds {
    color: red;
    font-weight: 400;
}
.users,
.computer {
    display: flex;
    flex-direction: column;
}
.cardd {
    padding: 3rem;
    height: 100%;
    border: 1px solid rgb(209, 180, 180);
}
.user-selection-icons {
    display: flex;
}
.user-selection-icons div {
    text-align: center;
}
.img {
    height: 5rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.img:hover {
    background-color: #e0e0e0;
    transition: transform 0.1s;
    transform: scale(1.1);
}
.large-icon {
    text-align: center;
    margin: 4rem;
}
.large-img {
    height: 8rem;
}

.cardd h2,
.pc-selection-msg {
    text-align: center;
}
.message-card {
    text-align: center;
    margin: auto 0;
}

.points {
    text-align: center;
    padding: 2rem;
}
.computer-heading,
.player,
.win,
.pc-selection-msg h5 {
    color: #9a9da6;
}
.win-points h1 {
    font-weight: 300;
}
.winning {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9a9da6;
}

.reset-btn{
    border:none;
    height:3rem;
    width:15rem;
    margin-top: 5rem;
    border-radius: 20px;
    font-size: 1.3rem;
    cursor: pointer;
    background-color:lightcoral;
    color:white
}
.reset-btn:hover{
    background-color: red;
}