.app {
    height: 100vh;
    background-color: beige;
    overflow: hidden;
    margin: auto;
}
.main-container {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    height: 100%;
}
.components {
    width: 90%;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.users,
.computer {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}
.cardd {
    padding: 3rem;
    height: 100%;
    border:2px solid red
}
.user-selection-icons {
    display: flex;
}
.user-selection-icons div {
    text-align: center;
}
.img {
    height: 5rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.img:hover {
    background-color: #e0e0e0;
    transition: transform 0.1s;
    transform: scale(1.1);
}
.large-icon {
    text-align: center;
    margin: 4rem;
}
.large-img {
    height: 8rem;
}

.cardd h2,
.pc-selection-msg {
    text-align: center;
}
.message-card {
    text-align: center;
    margin: auto 0;
}
.points{
    text-align: center;
}
/*
@media only screen and (max-width: 1200px) {
    .main-container {
        max-width: 98%;
    }
}

@media only screen and (max-width: 1800px) {
    .main-container {
        max-width: 85%;
    }
    .components {
        width: 100%;
        margin: 30px;
    }
} */

/* .rps {
    display: flex;

}
img {
    height: 3rem;
    margin-bottom: 2rem;

    border-radius: 50%;;


}
img:hover{
    background-color: #e0e0e0;
    transition: transform .1s;
    transform: scale(1.1);


}
.points_cont{
    width:90%;
    display: flex;
    text-align: center;
}
.user-selection{
    border:2px solid red;
    display: flex;
} */
