.App {
    height: 100vh;
    background-color: palegoldenrod;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    margin: 0;
}
.containers {
    display: flex;
    justify-content: center;
}
.card {
    height: 230px;
    border-radius: 20px !important;
}
.player{
    margin-top: 1.5rem;
}
.rps{
    display: flex;
}
.youruserSelection{
    margin-top: 1rem;
}
img{
    height:5.5rem;
    border-radius: 50%;
    padding:.4rem
}
img:hover{
    background-color: rgb(161, 155, 155);
    transition: transform .1s,-webkit-transform .1s;
    transform: scale(1.1);
}